.nav {
    width: 873px;
    background: transparent;
    overflow: hidden;
    .nav-pages {
      margin-top: 42px;
      display: flex;
      justify-content: flex-end;

      a {
        text-decoration: none;
        list-style: none;
        font-size: 14px;
        padding: 9px 10px;
        color: $dark-grey-color;
        border: 0.75px solid white;
      }

      :hover {
        border: 0.75px solid $yellow-color;
      }
    }

    .nav-home {
      height: 42px;
      display: flex;
      justify-content: flex-end;
      margin-top: 17px;

      a {
        text-decoration: none;
        list-style: none;
        font-size: 18px;
        color: $dark-grey-color;
        padding: 9px 20px;
        border: 0.75px solid white;
      }

      :hover {
        border: 0.75px solid $dark-grey-color;
      }


    }
  }
