.help {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $dark-grey-color;
    margin-bottom: 80px;
    :last-child {
        border-bottom: none;
      }

    .menu {
        margin-top: 50px;
        margin-bottom: 70px;

        .help-button {
            padding: 23px 42px;
            border: 0.75px solid white;
            font-size: 24px;
            cursor: pointer;
            background: transparent;
            color: $dark-grey-color;
        }

        :hover {
            border: 0.75px solid $dark-grey-color;
        }
        :focus {
            border: 0.75px solid $dark-grey-color;
        }
    }
}

#button.choose-button {
    border: 0.75px solid $dark-grey-color;
}