@import "./main";

.header {
  margin-right: 142px;
  display: flex;
  flex-direction: row;

  .image {
    width: 885px;
    height: 963px;
    background: transparent url("../assets/Home-Hero-Image.jpg") no-repeat -483px
      0;
    margin-right: 62px;
  }

  .content {
    .nav {
      width: 873px;
      background: transparent;
      overflow: hidden;
      .nav-pages {
        margin-top: 42px;
        display: flex;
        justify-content: flex-end;

        a {
          text-decoration: none;
          list-style: none;
          font-size: 14px;
          padding: 9px 10px;
          color: $dark-grey-color;
          border: 0.75px solid $yellow-color;
        }

        :hover {
          border: 0.75px solid $yellow-color;
        }
      }

      .nav-home {
        height: 42px;
        display: flex;
        justify-content: flex-end;
        margin-top: 17px;

        a {
          text-decoration: none;
          list-style: none;
          font-size: 18px;
          color: $dark-grey-color;
          padding: 9px 20px;
          border: 0.75px solid white;
        }

        :hover {
          border: 0.75px solid $dark-grey-color;
        }


      }
    }

    .help {
      margin-top: 210px;
      width: 674px;
      height: 350px;
      color: $dark-grey-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .buttons {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        margin-top: 65px;
        width: 674px;

      }
    }
  }
}
