.contact {
    position: relative;
    height: 1026px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:before {
        position: absolute;
        content: '';
        background: url("../assets/Background-Contact-Form.jpg") no-repeat;
        background-size: cover;
        opacity: 0.25;  
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }

    .right-column {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 200px;
        margin-right: 142px;

        .contact-header {
            width: 528px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 70px;
        }
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        margin-right: 142px;
        margin-bottom: 22px;

        span {
            left: -34%;
        }

        .icons {
            display: flex;
            justify-items: flex-end;
            align-items: flex-end;

            .facebook {
                background: url(../assets/Facebook.svg);
                height: 30px;
                width: 30px;
                margin-right: 20px;
            }

            .instagram {
                background: url(../assets/Instagram.svg);
                height: 30px;
                width: 30px;
            }
        }
    }
}

