@import './settings/fonts';
@import './settings/colors';
@import './settings/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  font-family: $font-base;
}

h1 {
  font-size: 38px;
  text-align: center;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: -0.76px;
  margin-bottom: 25px;
  color: $dark-grey-color
}

.decoration {
  width: 253px;
  height: 33px;
  background: url("../assets/Decoration.svg");
  text-align: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  color: $dark-grey-color;
  width: 310px;
  height: 120px;
  font-size: 36px;
  font-weight: 300;
  border: 0.75px solid $dark-grey-color;
}