@import './settings/fonts';
@import './settings/colors';
@import './settings/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  font-family: $font-base;
}
