.form-section {
    width: 503.8px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .form-upper2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $light-grey-color;
      height: 328px;
      width: 384.5px;
  
      .form {
        width: 384.5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $dark-grey-color;
  
        span {
          font-size: 16px;
        }
  
        input {
          background: transparent;
          width: 250px;
        }
  
        .error {
          color: $red-color;
          width: 250px;
          font-size: 14px;
          margin-top: -2px;
          border-top: 2px solid $red-color;
        }
  
        .form-group {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 250px;
          height: 62px;
        }
  
        .email {
          margin-bottom: 31px;
          margin-top: 8px;
        }

        .password2 {
            margin-top: 31px;
        }
      }
    }
  
    .buttons {
      width: 504.8px;
  
      .buttons-inner {
          height: 42px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 40px;
  
        a {
          text-decoration: none;
          list-style: none;
          font-size: 18px;
          color: $dark-grey-color;
          padding: 9px 20px;
          border: 0.75px solid white;
        }
  
        :hover {
          border: 0.75px solid $dark-grey-color;
        }
  
        .validation-button {
          text-decoration: none;
          list-style: none;
          font-size: 18px;
          color: $dark-grey-color;
          padding: 9px 20px;
          border: 0.75px solid white;
          background: transparent;
          cursor: pointer;
        }
  
        :hover {
          border: 0.75px solid $dark-grey-color;
        }
      }
    }
  }
  